.summary-box {
	margin: 0 auto 0.5rem auto;
	text-align: center;
}

.App .summary-box h2 {
	font-family: 'BentonSansCond-Bold', sans-serif;
	margin: 5px 0;
}
.summary-box .stat-box {
	column-gap: 1.3rem;
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	row-gap: 5px;
	/*display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));*/
}

.summary-box .note {
	color: #898B8E;
	font-family: 'BentonSansCond-RegItalic', sans-serif;
	font-size: 1rem;
	margin: 0;
	text-align: right;
}
.summary-box .last-update {
	font-family: 'BentonSansCond-RegItalic', sans-serif;
	font-style: italic;
	font-size: 0.8em;
	margin-top: 12px;
}

